EE/BPEL/ServicioVenta/src/Tienda/localhost_8080/NewsApp-war/TiendaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://web/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://web/" name="TiendaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://web/" schemaLocation="http://localhost:8080/NewsApp-war/TiendaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="remove_MNF">
<part name="parameters" element="tns:remove_MNF"/>
</message>
<message name="edit_MNF">
<part name="parameters" element="tns:edit_MNF"/>
</message>
<message name="findAll_MNF">
<part name="parameters" element="tns:findAll_MNF"/>
</message>
<message name="findAll_MNFResponse">
<part name="parameters" element="tns:findAll_MNFResponse"/>
</message>
<message name="find_MNF">
<part name="parameters" element="tns:find_MNF"/>
</message>
<message name="find_MNFResponse">
<part name="parameters" element="tns:find_MNFResponse"/>
</message>
<message name="create_MNF">
<part name="parameters" element="tns:create_MNF"/>
</message>
<message name="findRange_MNF">
<part name="parameters" element="tns:findRange_MNF"/>
</message>
<message name="findRange_MNFResponse">
<part name="parameters" element="tns:findRange_MNFResponse"/>
</message>
<message name="count_MNF">
<part name="parameters" element="tns:count_MNF"/>
</message>
<message name="count_MNFResponse">
<part name="parameters" element="tns:count_MNFResponse"/>
</message>
<message name="edit_PROD">
<part name="parameters" element="tns:edit_PROD"/>
</message>
<message name="remove_PROD">
<part name="parameters" element="tns:remove_PROD"/>
</message>
<message name="find_PROD">
<part name="parameters" element="tns:find_PROD"/>
</message>
<message name="find_PRODResponse">
<part name="parameters" element="tns:find_PRODResponse"/>
</message>
<message name="count_PROD">
<part name="parameters" element="tns:count_PROD"/>
</message>
<message name="count_PRODResponse">
<part name="parameters" element="tns:count_PRODResponse"/>
</message>
<message name="findAll_PROD">
<part name="parameters" element="tns:findAll_PROD"/>
</message>
<message name="findAll_PRODResponse">
<part name="parameters" element="tns:findAll_PRODResponse"/>
</message>
<message name="create_PROD">
<part name="parameters" element="tns:create_PROD"/>
</message>
<message name="findRange_PROD">
<part name="parameters" element="tns:findRange_PROD"/>
</message>
<message name="findRange_PRODResponse">
<part name="parameters" element="tns:findRange_PRODResponse"/>
</message>
<message name="findProdByName">
<part name="parameters" element="tns:findProdByName"/>
</message>
<message name="findProdByNameResponse">
<part name="parameters" element="tns:findProdByNameResponse"/>
</message>
<portType name="TiendaWS">
<operation name="remove_MNF">
<input wsam:Action="http://web/TiendaWS/remove_MNF" message="tns:remove_MNF"/>
</operation>
<operation name="edit_MNF">
<input wsam:Action="http://web/TiendaWS/edit_MNF" message="tns:edit_MNF"/>
</operation>
<operation name="findAll_MNF">
<input wsam:Action="http://web/TiendaWS/findAll_MNFRequest" message="tns:findAll_MNF"/>
<output wsam:Action="http://web/TiendaWS/findAll_MNFResponse" message="tns:findAll_MNFResponse"/>
</operation>
<operation name="find_MNF">
<input wsam:Action="http://web/TiendaWS/find_MNFRequest" message="tns:find_MNF"/>
<output wsam:Action="http://web/TiendaWS/find_MNFResponse" message="tns:find_MNFResponse"/>
</operation>
<operation name="create_MNF">
<input wsam:Action="http://web/TiendaWS/create_MNF" message="tns:create_MNF"/>
</operation>
<operation name="findRange_MNF">
<input wsam:Action="http://web/TiendaWS/findRange_MNFRequest" message="tns:findRange_MNF"/>
<output wsam:Action="http://web/TiendaWS/findRange_MNFResponse" message="tns:findRange_MNFResponse"/>
</operation>
<operation name="count_MNF">
<input wsam:Action="http://web/TiendaWS/count_MNFRequest" message="tns:count_MNF"/>
<output wsam:Action="http://web/TiendaWS/count_MNFResponse" message="tns:count_MNFResponse"/>
</operation>
<operation name="edit_PROD">
<input wsam:Action="http://web/TiendaWS/edit_PROD" message="tns:edit_PROD"/>
</operation>
<operation name="remove_PROD">
<input wsam:Action="http://web/TiendaWS/remove_PROD" message="tns:remove_PROD"/>
</operation>
<operation name="find_PROD">
<input wsam:Action="http://web/TiendaWS/find_PRODRequest" message="tns:find_PROD"/>
<output wsam:Action="http://web/TiendaWS/find_PRODResponse" message="tns:find_PRODResponse"/>
</operation>
<operation name="count_PROD">
<input wsam:Action="http://web/TiendaWS/count_PRODRequest" message="tns:count_PROD"/>
<output wsam:Action="http://web/TiendaWS/count_PRODResponse" message="tns:count_PRODResponse"/>
</operation>
<operation name="findAll_PROD">
<input wsam:Action="http://web/TiendaWS/findAll_PRODRequest" message="tns:findAll_PROD"/>
<output wsam:Action="http://web/TiendaWS/findAll_PRODResponse" message="tns:findAll_PRODResponse"/>
</operation>
<operation name="create_PROD">
<input wsam:Action="http://web/TiendaWS/create_PROD" message="tns:create_PROD"/>
</operation>
<operation name="findRange_PROD">
<input wsam:Action="http://web/TiendaWS/findRange_PRODRequest" message="tns:findRange_PROD"/>
<output wsam:Action="http://web/TiendaWS/findRange_PRODResponse" message="tns:findRange_PRODResponse"/>
</operation>
<operation name="findProdByName">
<input wsam:Action="http://web/TiendaWS/findProdByNameRequest" message="tns:findProdByName"/>
<output wsam:Action="http://web/TiendaWS/findProdByNameResponse" message="tns:findProdByNameResponse"/>
</operation>
</portType>
<binding name="TiendaWSPortBinding" type="tns:TiendaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove_MNF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="edit_MNF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll_MNF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find_MNF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create_MNF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange_MNF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="count_MNF">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit_PROD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="remove_PROD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="find_PROD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="count_PROD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findAll_PROD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create_PROD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange_PROD">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findProdByName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="TiendaWS">
<port name="TiendaWSPort" binding="tns:TiendaWSPortBinding">
<soap:address location="http://localhost:8080/NewsApp-war/TiendaWS"/>
</port>
</service>
</definitions>